<h3>Enter words</h3>

<div class="form-horizontal">

  <div class="form-group row">
    <label for="firstWord" class="control-label col-md-2">First word</label>
    <div class="col-md-4">
      <input type="text" autofocus class="form-control" [(ngModel)]="firstWord" name="firstWord">
    </div>
  </div>
  <div class="form-group row">
    <label for="secondWord" class="control-label col-md-2">Second word</label>
    <div class="col-md-4">
      <input type="text" class="form-control" [(ngModel)]="secondWord" name="secondWord">
    </div>
  </div>
  <button class="btn btn-primary" (click)="getRelationship()">Get relationship</button>
</div>
<br><br>
<h4>Relationship: {{relationship}}</h4>